<style>
  #moregraphs-dropdown {
      max-height: 400px;
      overflow-y: scroll;
  }
</style>
<div class="frequency-graph-div">
  <span class='dropdown pull-right'>
    <button id='action-menu-button' type='button'
	    class='btn btn-default btn-xs dropdown-toggle'
	    data-toggle='dropdown'>
      More Graphs <span class="caret"></span>
    </button>
    <ul class='dropdown-menu text-left' id="moregraphs-dropdown" role='menu'>
    </ul>
  </span>
  <center>
    <h4>
      Radio Monitoring Graph for
      <%- cluster %> 
      <span class="frequency-graph-nodeid">
	<%- node_id %></span>:<span class="frequency-graph-iface"><%- iface %>
	</span>
	<% if (logid) { %>
	  <span class="frequency-graph-date" style="margin-left: 15px;">
	    <%- moment(logid, "X").format("L LT") %></span>
	<% } else { %>
	  <span class="frequency-graph-date hidden"
		style="margin-left: 15px;"></span>
	<% } %>
    </h4>
  </center>
  <div class="panel panel-default" style="margin-bottom: 0px;">
    <div class="panel-body" style="padding: 0px;">
      <div class="frequency-graph frequency-graph-maingraph"
	   style="height: 600px;"></div>
    </div>
  </div>
  <div class="panel panel-default" style="margin-bottom: 0px;">
    <div class="panel-body" style="padding: 0px;">
      <div class="frequency-graph frequency-graph-subgraph"
	   style="height: 600px;"></div>
      <div id="tooltip-popover"></div>
    </div>
  </div>
</div>
  
