<div id="inuse-ranges"
     class='row hidden col-sm-6 col-sm-offset-3'>
  <center>
    <h4 class="text-center">
      Frequency Ranges Currently Inuse</h4>
    <table class='tablesorter'>
      <thead>
	<tr>
	  <th>Experiment</th>
	  <th>Project</th>
	  <th>Lower (MHz)</th>
	  <th>Upper (MHz)</th>
	  <th>Expires</th>
	</tr>
      </thead>
      <tbody>
	<% _.each(inuse_ranges, function(range) { %>
	  <tr>
	    <td><a href="status.php?uid=<%- range.uuid %>">
	      <%- range.name %></a></td>
	    <td><a href="show-project.php?project=<%- range.pid %>">
	      <%- range.pid %></a></td>
	    <td><%- range.freq_low %></td>
	    <td><%- range.freq_high %></td>
	    <td><%- moment(range.end).format("MMM Do, h:m A") %></td>
	  </tr>
	<% }); %>
      </tbody>
    </table>
  </center>
</div>
<div id="global-ranges"
     class='row hidden col-sm-6 col-sm-offset-3'>
  <center>
    <h4 class="text-center">
      Global Frequency Ranges</h4>
    <table class='tablesorter'>
      <thead>
	<tr>
	  <th>ID</th>
	  <th>Lower (MHz)</th>
	  <th>Upper (MHz)</th>
	</tr>
      </thead>
      <tbody>
	<% _.each(global_ranges, function(range, index) { %>
	  <tr>
	    <td><%- range.range_id ? range.range_id : range.idx %></td>
	    <td><%- range.freq_low %></td>
	    <td><%- range.freq_high %></td>
	  </tr>
	<% }); %>
      </tbody>
    </table>
  </center>
</div>
<div id="project-ranges"
     class='row hidden col-sm-6 col-sm-offset-3'>
  <center>
    <h4 class="text-center">
      Project Frequency Ranges</h4>
    <table class='tablesorter'>
      <thead>
	<tr>
	  <th>Project</th>
	  <th>ID</th>
	  <th>Lower (MHz)</th>
	  <th>Upper (MHz)</th>
	</tr>
      </thead>
      <tbody>
	<% _.each(project_ranges, function(list, pid) { %>
	  <% _.each(list, function(range) { %>
	    <tr>
	      <td><a href="show-project.php?project=<%- pid %>">
		<%- pid %></a></td>
	      <td><%- range.range_id ? range.range_id : range.idx %></td>
	      <td><%- range.freq_low %></td>
	      <td><%- range.freq_high %></td>
	    </tr>
	  <% }); %>
	<% }); %>
      </tbody>
    </table>
  </center>
</div>
