<div>
  <div class="blog-post" id="post-<%- fields.idx %>">
    <h2 class="blog-post-title"><%- fields.title %>
      <a href='news.php?idx=<%- fields.idx %>'
	 class='btn btn-xs'>
	<span style='margin-bottom: 4px; margin-left: 0px;'
	      class='glyphicon glyphicon-link'></span></a>
    </h2>
    <p class="blog-post-subtitle">
      Posted by <%- fields.author %>, 
      <span class="format-date"><%- fields.created %></span>.
      <% if (isadmin) { %>
	<span>
	  (<a href="#"
	      id="delete-button">
	  <span class='glyphicon glyphicon-remove'></span></a>
	  <a href="edit-news.php?edit=<%- fields.idx %>">
	    <span class='glyphicon glyphicon-pencil'></span></a>)
	</span>
	<% if (window.MAINSITE) { %>
	  <br>
	  Portals: <%- fields.portals %>
	<% } %>
      <% } %>
    </p>
    <div class="blog-post-body"><%= fields.body %></div>
    <hr>
  </div>
</div>
