<div class="table-responsive">
  <input class='form-control search' type='search' data-column='all'
               id='<%- tablename %>-search' placeholder='Search'>
  <table class='tablesorter' id='<%- tablename %>-table'>
    <thead>
      <tr>
	<th>Name</th>
	<% if (showCreator) { %>
	  <th>Creator</th>
	<% } %>
	<% if (showProject) { %>
	  <th>Project</th>
	<% } %>
	<th>Description</th>
	<th>Created</th>
	<th>Last&nbsp;Use</th>
	<th>Privacy</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(profiles, function(value, name) { %>
	<tr>
	  <td style='white-space: nowrap;'><%= value.link %>
	    <a class='showtopo_modal_button pull-right'
	       style="margin-left: 5px;"
               data-profile=<%= value.profile_uuid %>>	    
	      <span class='glyphicon glyphicon-modal-window'
		    data-toggle='tooltip'
		    data-container="body"
		    data-trigger="hover"
		    title='Show topology'></span>
	    </a>
            <a href="instantiate.php?profile=<%- value.profile_uuid %>"
	       style="margin-left: 5px;"
	       class="pull-right">
	      <span class='glyphicon glyphicon-play'
		    data-toggle='tooltip'
		    data-container="body"
		    data-trigger="hover"
		    title='Instantiate this profile'></span>
	    </a>
	  </td>
	  <% if (showCreator) { %>
	    <td><%= value.creator %></td>
	  <% } %>
	  <% if (showProject) { %>
	    <td><%= value.project %></td>
	  <% } %>
	  <td><%- value.description %></td>
	  <td class="format-date" style='white-space: nowrap;'>
	    <%- value.created %></td>
	  <td class="format-date" style='white-space: nowrap;'>
	    <%- value.last_use %></td>
	  <td><%- value.privacy %></td>
	</tr>
      <% }); %>
    </tbody>
  </table>
</div>
