<div class='panel panel-default'>
  <div class="panel-heading">
    <center>
      <h3 class="panel-title">All Frequency Reservations</h3>
    </center>
  </div>
  <div class='panel-body' style="padding: 2px;">
    <table class='tablesorter range-list'>
      <thead>
	<th>Low Freq</th>
	<th>High Freq</th>
	<th>Start</th>
	<th>End</th>
      </thead>
      <tbody>
	<% _.each(ranges, function(info) { %>
	  <tr>
	    <td><%- info.freq_low %></td>
	    <td><%- info.freq_high %></td>
	    <td class="format-date"><%- info.start %></td>
	    <td class="format-date"><%- info.end %></td>
	  </tr>
	<% }); %>
      </tbody>
    </table>
  </div>
</div>

