<style>
 .popover{
     max-width: 800px;
 }
 .tablesorter-green .tablesorter-header-inner {
     padding-left: 17px !important;
 }
 .tablesorter-green th.sorter-false .tablesorter-header-inner {
     padding-left: 4px !important;
 }
</style>
<div>
  <table class='tablesorter resgroup-list'>
    <thead>
      <tr>
	<th class="sorter-false">&nbsp</th>
	<% if (showuser) { %><th>Creator</th><% } %>
	<% if (showproject) { %><th>Project</th><% } %>
	<% if (showportal) { %><th>Portal</th><% } %>
	<th>Created</th>
	<th>Starts</th>
	<th>Ends</th>
	<% if (showstatus) { %><th>Status</th><% } %>
	<th class="sorter-false">Notes</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(groups, function(value, uuid) { %>
	<% var expando = "collapse-" + value.uuid; %>
	<tr data-uuid="<%- value.uuid %>"
	    data-uid_idx="<%- value.uid_idx %>">
	  <td rowspan="2" style='white-space: nowrap;'
	      class="show-childrow">
	    <a href="#">
	      <span class='glyphicon glyphicon-chevron-right pull-left expando'
		    style='margin-left: 0px; margin-right: 8px;
			   margin-bottom: 4px;'
		    data-toggle='tooltip'
		    data-container="body"
		    data-trigger="hover"
		    title='Click to show details'></span></a>
	    <% if (showcontrols) { %>
	      <% if (isadmin) { %>
		<a href="#" class="deny-button invisible">
		  <span class='glyphicon glyphicon-thumbs-down pull-left'
			style='color: red; margin-left: 0px;
			       margin-bottom: 4px;'
			data-toggle='tooltip'
			data-container="body"
			data-trigger="hover"
			title='Deny with reason'></span>
		</a>
		<a href="#" class="approve-button invisible">
		  <span class='glyphicon glyphicon-thumbs-up pull-left'
			style='color: red; margin-left: 5px;
			       margin-bottom: 4px;'
			data-toggle='tooltip'
			data-container="body"
			data-trigger="hover"
			title='Approve reservation'></span>
		</a>
	      <% } %>
	      <a href="#" class="delete-button">
		<span class='glyphicon glyphicon-remove pull-left'
		      style='color: red; margin-left: 5px;
			     margin-bottom: 4px;'
		      data-toggle='tooltip'
		      data-container="body"
		      data-trigger="hover"
		      title='Delete reservation'></span>
	      </a>
	      <a href="resgroup.php?edit=1&uuid=<%- value.uuid %>"
		 class="edit-button">
		<span class='glyphicon glyphicon-pencil pull-left text-primary'
		      style='margin-left: 5px;
			     margin-bottom: 4px;'
		      data-toggle='tooltip'
		      data-container="body"
		      data-trigger="hover"
		      title='View/Edit reservation details'></span>
	      </a>
	      <% if (isadmin) { %>
		<% if (value.uid_idx) { %>
		  <a href="#" class="info-button">
		    <span class='glyphicon glyphicon-info-sign pull-left
				 text-warning'
			  style='margin-bottom: 4px;
				 margin-left: 5px;'
			  data-toggle='tooltip'
			  data-container="body"
			  data-trigger="hover"
			  title='Send a message to user'></span>
		  </a>
		  <a href="#" class="warn-button">
		    <span class='glyphicon glyphicon-warning-sign pull-left
				 text-warning'
			  style='margin-bottom: 4px;
				 margin-left: 5px;'
			  data-toggle='tooltip'
			  data-container="body"
			  data-trigger="hover"
			  title='Warn user about unused reservaton'></span>
		  </a>
		<% } %>
	      <% } %>
	    <% } else { %>
	      <% if (showselect) { %>
		<input type="checkbox" class="select-reservation"
		       style='margin-bottom: 4px; margin-left: 0px;'
		       value="<%- value.uuid %>">
	      <% } %>
	      <a href="resgroup.php?edit=1&uuid=<%- value.uuid %>"
		 target="_blank" 
		 class="edit-button">
		<span class='glyphicon glyphicon-eye-open text-primary'
		      style='margin-bottom: 4px; margin-left: 10px;'
		      data-toggle='tooltip'
		      data-container="body"
		      data-trigger="hover"
		      title='View/Edit reservation details'></span>
	      </a>
	    <% } %>
	  </td>
	  <% if (showuser) { %>
	    <td style='white-space: nowrap;'>
	      <% if (value.uid_idx) { %>
		<a href='user-dashboard.php?user=<%- value.uid %>'>
		  <%- value.uid %></a>
	      <% } else { %>
		<%- value.remote_uid %>
	      <% } %>
	    </td>
	  <% } %>	    
	  <% if (showproject) { %>	  
	    <td style='white-space: nowrap;'>
	      <% if (value.pid_idx) { %>
		<a href='show-project.php?project=<%- value.pid %>'>
		  <%- value.pid %></a>
	      <% } else { %>
		<%- value.remote_pid %>
	      <% } %>
	    </td>
	  <% } %>
	  <% if (showportal) { %>	  
	    <td><%- value.portal %></td>
	  <% } %>
	  <td class="format-date"><%- value.created %></td>
	  <td>
	    <% if (!value.start) { %>
	      &nbsp
	    <% } else if (new Date().getTime() >
	                  new Date(value.start).getTime()) { %>
	      <span class="format-date"
		    style="color: green;"><%- value.start %></span>
	    <% } else { %>
	      <span class="format-date"><%- value.start %></span>
	    <% } %>
	  </td>
	  <td>
	    <% if (!value.end) { %>
	      &nbsp
	    <% } else { %>
	      <span class="format-date"><%- value.end %></span>
	    <% } %>
	  </td>
	  <% if (showstatus) { %>
	  <td class="group-status-column">
	    <span class="status-approved hidden">Approved</span>
	    <span class="status-pending hidden text-danger">Pending</span>
	    <span class="status-canceled hidden">
	      <span class="text-danger">Canceled</span>
	      <% if (isadmin && showcontrols) { %>
		<a href="#" class="cancel-cancel-button">
		  <span class='glyphicon glyphicon-thumbs-up'
			style='color: green; margin-left: 5px;
			       margin-bottom: 4px;'
			data-toggle='tooltip'
			data-container="body"
			data-trigger="hover"
			title='Cancel Cancellation'></span>
		</a>
	      <% } %>
	    </span>
	  </td>
	  <% } %>
	  <td align="center">
	    <a href="#" 
	       data-toggle='popover'
	       data-html='true'
	       data-trigger='hover'
	       data-title="Reservation Notes"
	       data-content="<div class='form-control'
			     style='height: auto;'><%- value.notes %></div>">
	      <span>&#8230;</span>
	    </a>
	  </td>
	</tr>
	<tr class="tablesorter-childRow">
	  <td colspan=12>
	    <% if (_.size(value.clusters)) { %>
	      <div style="ignore-width: 700px;">
		<table class='tablesorter clusters-table resgroup-child'>
		  <thead>
		    <th>Cluster</th>
		    <th>Type</th>
		    <th>Count</th>
		    <th>Using</th>
		    <th>Utilization</th>
		    <th>Status</th>
		    <% if (isadmin) { %>
		      <th class="sorter-false"></th>
		    <% } %>
		  </thead>
		  <tbody>
		    <% _.each(value.clusters, function(info) { %>
		      <tr data-uuid="<%- info.remote_uuid %>">
			  <td><%- info.cluster_id %></td>
			  <td><%- info.type %></td>
			  <td><%- info.count %></td>
			  <td>
			    <% if (info.active && info.using != null) { %>
			      <% if (info.using < info.count) { %>
				<span class="text-danger">
				  <%- info.using %>
				</span>
			      <% } else { %>
				<%- info.using %>
			      <% } %>
			    <% } else { %>
			      &nbsp;
			    <% } %>
			  </td>
			  <td>
			    <% if (info.utilization != null) { %>
			      <%- info.utilization %>%
			    <% } else { %>
			      &nbsp;
			    <% } %>
			  </td>
			  <td class="reservation-status-column">
			    <span class="status-approved hidden">
			      Approved</span>
			    <span class="status-pending hidden text-danger">
			      Pending</span>
			    <span class="status-canceled hidden text-danger">
			      Canceled</span>
			    <span class="status-deleted hidden text-danger">
			      Deleted</span>
			  </td>
			  <% if (isadmin) { %>
			    <td>
			      <a href="reserve.php?edit=1&cluster=<%- info.cluster_id %>&uuid=<%- info.remote_uuid %>"
				 target="_blank"
				 class="edit-button">
				<span class='glyphicon glyphicon-eye-open'
				      style='margin-left: 5px;
					     margin-bottom: 4px;'></span>
			      </a>
			    </td>
			  <% } %>
			</tr>
		      <% }); %>
		  </tbody>
		</table>
	      </div>
	    <% } %>
	    <% if (_.size(value.ranges)) { %>
	      <div style="ignore-width: 700px;">
		<table class='tablesorter ranges-table resgroup-child'>
		  <thead>
		    <th>Low Frequency</th>
		    <th>High Frequency</th>
		    <th>Status</th>
		  </thead>
		  <tbody>
		    <% _.each(value.ranges, function(info) { %>
		      <tr data-uuid="<%- info.freq_uuid %>">
			<td><%- info.freq_low %></td>
			<td><%- info.freq_high %></td>
			<td class="reservation-status-column">
			  <span class="status-approved hidden">
			    Approved</span>
			  <span class="status-pending hidden text-danger">
			    Pending</span>
			  <span class="status-canceled hidden text-danger">
			    Canceled</span>
			</td>
		      </tr>
		    <% }); %>
		  </tbody>
		</table>
	      </div>
	    <% } %>
	    <% if (_.size(value.routes)) { %>
	      <div style="ignore-width: 700px;">
		<table class='tablesorter routes-table resgroup-child'>
		  <thead>
		    <th>Route Name</th>
		    <th>Route ID</th>
		    <th>Status</th>
		  </thead>
		  <tbody>
		    <% _.each(value.routes, function(info) { %>
		      <tr data-uuid="<%- info.route_uuid %>">
			<td><%- info.routename %></td>
			<td><%- info.routeid %></td>
			<td class="reservation-status-column">
			  <span class="status-approved hidden">
			    Approved</span>
			  <span class="status-pending hidden text-danger">
			    Pending</span>
			  <span class="status-canceled hidden text-danger">
			    Canceled</span>
			</td>
		      </tr>
		    <% }); %>
		  </tbody>
		</table>
	      </div>
	    <% } %>
	  </td>
	</tr>
      <% }); %>
    </tbody>
  </table>
</div>
