<style>
 .table {
     margin: 0px;
 }
 .panel-body {
     padding: 0px;
 }
</style>

<div class='col-sm-10 col-sm-offset-1'>
  <div class='panel panel-default'>
    <div class='panel-heading text-center'>
      <% if (isadmin) { %>
 	<% if (window.ISEMULAB) { %>
	  <% if (window.EDITING) { %>
	    <a href="../editnodetype.php3?node_type=<%= window.TYPE %>&classic=1"
	       class='btn btn-primary btn-xs pull-right'
               style='margin-right: 10px; margin-top: -4px;'
	       data-toggle='tooltip'
	       title="Classic edit type page"
               type='button'>Classic</a>
	  <% } else { %>
	    <a href="../shownodetype.php3?node_type=<%= window.TYPE %>&classic=1"
	       class='btn btn-primary btn-xs pull-right'
               style='margin-right: 10px; margin-top: -4px;'
	       data-toggle='tooltip'
	       title="Classic show type page"
               type='button'>Classic</a>
	  <% } %>
	<% } %>
	<button class='btn btn-danger btn-xs pull-right hidden'
                id='type-delete-button'
                style='margin-right: 10px; margin-top: -4px;'
		data-toggle='modal'
		data-target='#confirm-type-delete-modal'
		data-tooltip="Delete this type"
                type='button' name='delete'>Delete
	</button>
	<% if (!window.EDITING) { %>
	  <a href="show-nodetype.php?type=<%= window.TYPE %>&edit=1"
	     class='btn btn-primary btn-xs pull-right'
             style='margin-right: 10px; margin-top: -4px;'
             type='button'>Edit</a>
	<% } %>
      <% } %>
      <% if (window.HASHWINFO) { %>
	<a href="show-hardware.php?type=<%= window.TYPE %>"
	   class='btn btn-info btn-xs pull-right'
           style='margin-right: 10px; margin-top: -4px;'
	   data-toggle='tooltip'
	   title="Detailed hardware info"
           type='button'>Hardware</a>
      <% } %>
      <h3 class='panel-title'>Type info for <%- window.TYPE %></h3>
    </div>
    <div class='panel-body' style="padding-top: 10px;">
      <div class='row'>
	<div class='col-sm-6'>
	  <div class='panel panel-default'>
	    <div class='panel-heading'>
              <h3 class='panel-title'>Type</h3>
	    </div>
	    <div class='panel-body'>
	      <table id="flags-table"
		     class='table table-condensed table-bordered'>
		<tr>
		  <td>Type</td>
		  <td><%- fields.type %></td>
		</tr>
		<tr data-which="flag">
		  <td>Class
		    <% if (window.EDITING) { %>
		      <input class="row-name hidden"
			     value="class"
			     type='hidden'>
		    <% } %>
		  </td>
		  <td>
		    <% if (window.EDITING) { %>
		      <div style="display: inline-flex; center; width: 100%;">
			<input type="text"
			       name="class"
			       value="<%- fields.class %>"
			       class="form-control row-value">
			  <button type="button" disabled
			  	  class="btn btn-xs btn-default save-row"
				  style="color: green; height: 16px;">
 			    <span class="glyphicon glyphicon-ok"
				  data-toggle="tooltip"
				  data-container="body"
				  data-trigger="hover"
				  title="Save change"></span>
			  </button>
		      </div>
		    <% } else { %>
		      <%- fields.class %>
		    <% } %>
		  </td>
		</tr>
		<tr data-which="flag">
		  <td>Architecture
		    <% if (window.EDITING) { %>
		      <input class="row-name hidden"
			     value="architecture"
			     type='hidden'>
		    <% } %>
		  </td>
		  <td>
		    <% if (window.EDITING) { %>
		      <div style="display: inline-flex; center; width: 100%;">
			<input type="text" 
			       name="architecture"
			       value="<%- fields.architecture %>"
			       class="form-control row-value">
			  <button type="button" disabled
			  	  class="btn btn-xs btn-default save-row"
				  style="color: green; height: 16px;">
 			    <span class="glyphicon glyphicon-ok"
				  data-toggle="tooltip"
				  data-container="body"
				  data-trigger="hover"
				  title="Save change"></span>
			  </button>
		      </div>
		    <% } else { %>
		      <%- fields.architecture %>
		    <% } %>
		  </td>
		</tr>
		<% if (window.ISADMIN) { %>
		  <tr>
		    <td>isvirtnode</td>
		    <td><%- (fields.isvirtnode == "0" ? "No" : "Yes") %></td>
		  </tr>
		  <tr>
		    <td>isdynamic</td>
		    <td><%- (fields.isdynamic == "0" ? "No" : "Yes") %></td>
		  </tr>
		  <tr>
		    <td>isremotenode</td>
		    <td><%- (fields.isremotenode == "0" ? "No" : "Yes") %></td>
		  </tr>
		  <tr>
		    <td>issubnode</td>
		    <td><%- (fields.issubnode == "0" ? "No" : "Yes") %></td>
		  </tr>
		  <tr>
		    <td>isswitch</td>
		    <td><%- (fields.isswitch  == "0" ? "No" : "Yes") %></td>
		  </tr>
		<% } %>
	      </table>
	    </div>
	  </div>
	  <% if (_.size(fields.features) || window.EDITING) { %>
	    <div class='panel panel-default'>
	      <div class='panel-heading'>
		<% if (window.EDITING) { %>
		  <button class='btn btn-primary btn-xs pull-right'
			  id='add-feature-button'
			  style='margin-right: 10px; margin-top: -4px;'
			  data-toggle="tooltip"
			  title="Add a new feature"
			  type='button'>Add
		  </button>
		<% } %>
		<h3 class='panel-title'>Features
		  <a href="#" type="button "class='btn btn-xs'
		     data-toggle='modal'
		     data-target="#info-modal"
		     data-trigger="click">
		    <span style='margin-bottom: 4px; margin-left: 0px;'
			  class='glyphicon glyphicon-question-sign'></span>
		  </a>
		</h3>
	      </div>
	      <div class='panel-body'>
		<table id="features-table"
		       class='table table-condensed table-bordered'>
		  <% _.each(fields.features, function(value, name) { %>
		    <tr data-which="feature">
		      <td>
			<%- name %>
			<% if (window.EDITING) { %>
			  <input class="row-name hidden"
				 value="<%- name %>"
				 type='hidden'>
			<% } %>
		      </td>
		      <td>
			<% if (window.EDITING) { %>
			  <input type="text"
				 name="<%- name %>"
				 value="<%- value %>"
				 class="form-control row-value">
			<% } else { %>
			  <%- value %>
			<% } %>
		      </td>
		      <% if (window.EDITING) { %>
			<td style="width: 16px;
				   padding-right: 2px; padding-left: 2px;">
			  <button type="button"
				  class="btn btn-xs btn-default delete-row"
				  style="color: red; margin-top;">
 			    <span class="glyphicon glyphicon-remove"
				  data-toggle="tooltip"
				  data-container="body"
				  data-trigger="hover"
				  title="Delete this row"></span>
			  </button>
			  <button type="button" disabled
				  class="btn btn-xs btn-default save-row"
				  style="color: green;">
 			    <span class="glyphicon glyphicon-ok"
				  data-toggle="tooltip"
				  data-container="body"
				  data-trigger="hover"
				  title="Save change"></span>
			  </button>
			</td>
		      <% } %>
		    </tr>
		  <% }); %>
		</table>
	      </div>
	    </div>
	  <% } %>
	  <% if (_.size(fields.osinfo)) { %>
	    <div class='panel panel-default'>
	      <div class='panel-heading'>
		<% if (window.EDITING) { %>
		  <button class='btn btn-primary btn-xs pull-right'
			  id='add-osimage-button'
			  style='margin-right: 10px; margin-top: -4px;'
			  data-toggle="tooltip"
			  title="Add a new OS/Image"
			  type='button'>Add
		  </button>
		<% } %>
		<h3 class='panel-title'>Images and OSIDs</h3>
	      </div>
	      <div class='panel-body'>
		<table id="osinfo-table"
		       class='table table-condensed table-bordered'>
		  <% _.each(fields.osinfo, function(info, name) { %>
		    <tr data-which="osimage">
		      <td>
			<%- name %>
			<% if (window.EDITING) { %>
			  <input class="row-name hidden"
				 value="<%- name %>"
				 type='hidden'>
			<% } %>
		      </td>
		      <td>
			<% if (!window.EDITING) { %>
			  <% if (window.ISGUEST) { %>
			    <%- info.name %>
			  <% } else { %>			  
			    <a href="<%- info.url %>" target="_blank">
			      <%- info.name %></a>
			  <% } %>
			<% } else { %>
			  <% var ilist;
			    if (info.type == "image") {
			      ilist = imagelist;
			    }
  			    else if (info.mfs) {
			      ilist = mfslist;
			    }
			    else {
			      ilist = oslist;
			    }
			  %>
			  <select name="<%- name %>"
				  class='form-control row-value'>
			    <% _.each(ilist, function(osinfo) { %>
			      <option 
				  <% if (osinfo.osid == info.osid) { %>
				    selected
				  <% } %>
				  value='<%= osinfo.osid %>'><%= osinfo.name %>
			      </option>
			    <% }); %>
			  </select>
			<% } %>
		      </td>
		      <% if (window.EDITING) { %>
			<td style="width: 16px;
				   padding-right: 2px; padding-left: 2px;">
			  <button type="button"
				  class="btn btn-xs btn-default delete-row"
				  style="color: red; margin-top;">
 			    <span class="glyphicon glyphicon-remove"
				  data-toggle="tooltip"
				  data-container="body"
				  data-trigger="hover"
				  title="Delete this row"></span>
			  </button>
			  <button type="button" disabled
				  class="btn btn-xs btn-default save-row"
				  style="color: green;">
 			    <span class="glyphicon glyphicon-ok"
				  data-toggle="tooltip"
				  data-container="body"
				  data-trigger="hover"
				  title="Save change"></span>
			  </button>
			</td>
		      <% } %>
		    </tr>
		  <% }); %>
		</table>
	      </div>
	    </div>
	  <% } %>
	</div>
	<div class='col-sm-6'>
	  <div class='panel panel-default'>
	    <div class='panel-heading'>
	      <% if (window.EDITING) { %>
		<button class='btn btn-primary btn-xs pull-right'
			id='add-attribute-button'
			style='margin-right: 10px; margin-top: -4px;'
			data-toggle="tooltip"
			title="Add a new attribute"
			type='button'>Add
		</button>
	      <% } %>
              <h3 class='panel-title'>Attributes
		<a href="#" type="button "class='btn btn-xs'
		   data-toggle='modal'
		   data-target="#info-modal"
		   data-trigger="click">
		  <span style='margin-bottom: 4px; margin-left: 0px;'
			class='glyphicon glyphicon-question-sign'></span>
		</a>
	      </h3>
	    </div>
	    <div class='panel-body'>
	      <table id="attributes-table"
		     class='table table-condensed table-bordered'>
		<% _.each(fields.attributes, function(value, name) { %>
		  <% if (!window.ISADMIN &&
		         !(name == "processor" ||
		          name.startsWith("hw_"))) { return; } %>
		  <% if (typeof(value) !== "object") { %>
		    <tr>
		      <td>
			<%- name %>
			<% if (window.EDITING) { %>
			  <input class="row-name hidden"
				 value="<%- name %>"
				 type='hidden'>
			<% } %>
		      </td>
		      <td>
			<% if (window.EDITING) { %>
			  <input type="text"
				 name="<%- name %>"
				 value="<%- value %>"' +
				 class="form-control row-value">
			<% } else { %>
			  <%- value %>
			<% } %>
		      </td>
		      <% if (window.EDITING) { %>
			<td style="width: 16px;
				   padding-right: 2px; padding-left: 2px;">
			  <button type="button"
				  class="btn btn-xs btn-default delete-row"
				  style="color: red; margin-top;">
 			    <span class="glyphicon glyphicon-remove"
				  data-toggle="tooltip"
				  data-container="body"
				  data-trigger="hover"
				  title="Delete this row"></span>
			  </button>
			  <button type="button" disabled
				  class="btn btn-xs btn-default save-row"
				  style="color: green;">
 			    <span class="glyphicon glyphicon-ok"
				  data-toggle="tooltip"
				  data-container="body"
				  data-trigger="hover"
				  title="Save change"></span>
			  </button>
			</td>
		      <% } %>
		    </tr>
		  <% } %>
		<% }); %>
	      </table>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>
<!-- Confirm Delete -->
<div id='confirm-type-delete-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center>
	  <h4>Are you sure you want to delete this type?</h4>
	</center>
	<center style="margin-top: 15px;">
          <button class='btn btn-default btn-sm'
		  data-dismiss='modal'
                  type='button'>Cancel
	  </button>
          <button class='btn btn-danger btn-sm'
		  id='confirm-type-delete'
		  style='margin-left: 10px;'
		  type='button' name='delete'>Confirm
	  </button>
	</center>
      </div>
    </div>
  </div>
</div>
<!-- Confirm -->
<div id='confirm-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center>
	  <h4>Please confirm this change</h4>
	</center>
	<center style="margin-top: 15px;">
          <button class='btn btn-default btn-sm'
		  data-dismiss='modal'
                  type='button'>Cancel
	  </button>
          <button class='btn btn-danger btn-sm'
		  id='confirm-change'
		  style='margin-left: 10px;'
		  type='button'>Confirm
	  </button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='info-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<p>
	  A note about features and attributes; in general, sizes (like
	  disk and memory) are reported in megabytes (MB) and speed is
	  reported in megahertz (MHz).
	</p>
	<p>
	  There are several features that indicate how much disk space
	  a node has:
	  <ul>
	    <li> <b>?+disk_sysvol</b>: The size (in MB) of the root disk.
	      Note that the <em>root partition</em> is typically much smaller,
	      on the order of 16GB. But the rest of the disk is available to
	      use.
	    </li>
	    <li> <b>?+disk_nonsysvol</b>: The sum off all other disks
	      (not including the root disk).
	    </li>
	    <li> <b>?+disk_any</b>: The sum of all disks (root and secondary).
	    </li>
	  </ul>
	</p>
      </div>
    </div>
  </div>
</div>
