<style>
 .tablesorter .filtered {
     display: none;
 }
</style>

<div class="container-fluid">
  <div class="row">
    <table class='tablesorter' id='sitevars-table'>
	<thead>
	  <tr>
	    <th>Name</th>
	    <th class="sorter-false">
	      Default Value</th>
	    <th class="sorter-false">
	      Current Value</th>
	  </tr>
	  <tr>
	    <th class="sorter-false">
	      <input class='form-control search'
		     style="margin-left: -15px;"
		       type='search' data-column='all'
		       placeholder='Search'></th>
	    <th colspan="2" class="sorter-false">Description</th>
	  </tr>
	</thead>
	<tbody>
	  <% _.each(sitevars, function(value, name) { %>
	    <tr data-name="<%- value.name %>">
	      <td rowspan="2"><%- value.name %>
		<a href="#" class="pull-right edit-button"
		   style="margin-left: 5px;">
		  <span class="glyphicon glyphicon-edit"
			style='margin-bottom: 4px;'
			data-toggle='tooltip'
			data-container="body"
			data-trigger="hover"
			title='Change current value'></span></a>
		<a href="#" class="pull-right reset-button">
		  <span class="glyphicon glyphicon-erase"
			style='margin-bottom: 4px;'
			data-toggle='tooltip'
			data-container="body"
			data-trigger="hover"
			title='Reset to default value'></span></a>
	      </td>
	      <td class="default-value">
		<% if (value.default_value) { %>
		  <%- value.default_value %>
		<% } else { %>&nbsp;<% } %>
	      </td>
	      <td class="current-value" style="word-break:break-all;">
		<span class="notediting"><%- value.current_value %></span>
		<span class="hidden editing">
		  <a href="#" class="save-button"
		     style="margin-right: 5px;">
		    <span class="glyphicon glyphicon-ok"
			  style='margin-bottom: 4px;'
			  data-toggle='tooltip'
			  data-container="body"
			  data-trigger="hover"
			  title='Save new value'></span></a>
		  <a href="#" class="cancel-button">
		    <span class="glyphicon glyphicon-remove"
			  style='margin-bottom: 4px;'
			  data-toggle='tooltip'
			  data-container="body"
			  data-trigger="hover"
			  title='Cancel'></span></a>
		  <textarea style="width: 90%;"
			    rows="1"><%- value.current_value %></textarea>
		</span>
	      </td>
	    </tr>
	    <tr class="tablesorter-childRow">
	      <td colspan="2" 
		  style="word-break:break-all;">
		<%- value.description %></td>
	    </tr>
	  <% }); %>
	</tbody>
      </table>
  </div>
</div>
