<style type="text/css">
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	.sidebar-nav .navbar ul {
		float: none;
	}
	.sidebar-nav .navbar ul:not {
		display: block;

	}
	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}
	.sidebar-nav .navbar li a {
		padding-top: 0px;
		padding-bottom: 0px;
		margin-top: 5px;
	}
}
.sidebar-nav .navbar-header{ float: none; }
</style>
<div class='row'>
  <div class="col-sm-2 hidden-sm hidden-xs hidden">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
          <ul class="nav navbar-nav">
            <li><a href="#">Longer Menu Item 1</a></li>
            <li><a href="#">Menu Item 2</a></li>
            <li><a href="#">Menu Item 3</a></li>
            <li><a href="#">Menu Item 4</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class='col-xs-12 col-sm-12 col-md-12'>
    <div class='panel panel-default'>
      <div class='panel-body'>
	<div class='row'>
	  <div class='col-sm-12'>
	    <div>
	      <!-- Nav tabs -->
	      <ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
		  <a href="#experiments" role="tab" data-toggle="tab">
		    Experiments</a></li>
		<li role="presentation">
		  <a href="#profiles" role="tab" data-toggle="tab">
		    Profiles</a></li>
		<li role="presentation">
		  <a href="#projectprofiles" role="tab" data-toggle="tab">
		    Project Profiles</a></li>
		<% if (disabledset == 0 || (disabledset == 1 && isadmin) ) { %>
		<li role="presentation">
		  <a href="#datasets" role="tab" data-toggle="tab">
		    Datasets</a></li>
		<% } %>
		<li role="presentation" class="hidden paramsets-hidden">
		  <a href="#paramsets" role="tab" data-toggle="tab">
		    Parameter Sets</a></li>
		<li role="presentation">
		  <a href="#membership" role="tab" data-toggle="tab">
		    Membership</a></li>
		<li role="presentation">
		  <a href="#usage" role="tab"
		     data-toggle="tab">Usage</a></li>
		<li role="presentation">
		  <a href="#myprofile" role="tab" data-toggle="tab">
		    Account</a></li>
		<% if (isadmin) { %>
		  <li role="presentation">
		    <a href="#admin" role="tab" data-toggle="tab">
		      Admin</a></li>
		  <li role="presentation"
		      class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown"
		       href="#" role="button">
		      Admin Menu<span class="caret"></span></a>
		    <ul class="dropdown-menu">
		      <li><a href="activity.php?user=<%= target_user %>">
			Experiment History</a></li>
		      <% if (disabledres < 2) { %>
		      <li><a href="reservation-history.php?user=<%= target_user %>">
			Reservation History</a></li>
                      <% } %>
		      <li><a href="ssh-keys.php?user=<%= target_user %>">
			Manage SSH Keys</a></li>
		      <li><a href="myaccount.php?user=<%= target_user %>">
			Manage Account</a></li>
		      <li><a href="changepswd.php?user=<%= target_user %>">
			Change Password</a></li>
		      <% if (disabledset < 2) { %>
		      <li><a href="list-datasets.php?user=<%= target_user %>">
			List Datasets</a></li>
		      <% } %>
		      <li><a href="list-images.php?user=<%= target_user %>">
			List Images</a></li>
                      <li class='divider'></li>
		      <li><a role="button" id="sendtestmessage">
			Send Test Message</a></li>
		      <li><a role="button" id="sendpasswordreset">
			Send Password Reset</a></li>
		      <li><a href="suuser.php?user=<%= target_user %>">
			<span class="text-danger">SU as User</span></a></li>
		      <li role="presentation">
			<a href='<%- emulablink %>'>
			  Emulab User Page</a></li>
		    </ul>
		  </li>
		<% } %>
	      </ul>
	      <!-- Tab panes -->
	      <div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="experiments">
		  <div id="experiments_content">
		    <div id="experiments_loading">
		      <br>
		      <br>
		      <center>Loading
			<div>
			  <img src='images/spinner.gif' />
			</div>
		      </center>
		    </div>
		    <div class="hidden" id="experiments_noexperiments">
		      <br>
		      You do not have any active experiments. Click 
		      <b><a href='instantiate.php'>here</a></b> to create one.
		    </div>
		  </div>
		  <br>
		  <div id="project_experiments_content"></div>
		  <div id="classic_experiments_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="profiles">
		  <div id="profiles_content">
	      	    <div class="hidden" id="profiles_noprofiles">
		      <br>
		      You have not created any experiment profiles. You can either <b><a href='instantiate.php'>instantiate</a></b> an experiment with an existing profile or
		      <b><a href='manage_profile.php'>create a new profile</a></b>.
		    </div>
		  </div>
		  <br>
		  <div id="classic_profiles_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="projectprofiles">
		  <div id="projectprofiles_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="datasets">
		  <div id="datasets_content">
	      	    <div class="hidden" id="datasets_nodatasets">
		      <br>
		      You do not have any datasets. Click 
		      <b><a href='create-dataset.php'>here</a></b> to create one.
		    </div>
		  </div>
		  <div id="classic_datasets_content" class="hidden">
		    <center><h4>Classic Datasets</h4></center>
		    <div id="classic_datasets_content_div"></div>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane hidden paramsets-hidden"
		     id="paramsets">
		  <div id="paramsets_content">
	      	    <div class="hidden" id="paramsets_noparamsets">
		      <br>
		      <p>
			You do not have any parameter sets.
		      </p>
		      <p>
		      You can create a
		      <em>parameter set</em> from the activity listing for
		      any <em>parameterized</em> profile you have
		      instantiated in the past, or from the status page for
		      any of your currently running experiments.
		      Just click on the
		      "Save Parameters" button and provide a name
		      and description. The next time you instantiate
		      that profile, there will be an option to apply the saved
		      parameters. You can save multiple parameters sets for
		      a profile, just give them unique names.
		      </p>
		    </div>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane" id="membership">
		  <div id="membership_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="usage">
		  <div id="usage_content">
	      	    <div class="hidden" id="usage_nousage">
		      <br>
		      You do not have any usage data yet. Time to get busy!
		    </div>
		    <table class='table table-condensed table-bordered'
			   id='usage_table'>
		      <tbody></tbody>
		    </table>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane" id="myprofile">
		  <div id="myprofile_content"></div>
		</div>
		<% if (isadmin) { %>
		  <div role="tabpanel" class="tab-pane" id="admin">
		    <div id="admin_content"></div>
		  </div>
		<% } %>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- This is the topology view modal -->
<div id='quickvm_topomodal' class='modal fade'>
  <div class='modal-dialog' id='showtopo_dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>
          &times;</button>
        <h3>Topology Viewer</h3>
      </div>
      <div class='modal-body'>
        <!-- This topo diagram goes inside this div -->
        <div class='panel panel-default'
             id='showtopo_container'>
          <div class='panel-body'>
            <div id='showtopo_nopicker' class='jacks'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Confirm Freeze or Thaw -->
<div id='confirm-freezethaw-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center><h4>Confirm to <span class="which"></span></h4>
	  Additional text to send (no text is okay):
	  <div>
	    <textarea class='form-control user-message'
		      rows=5></textarea>
	  </div>
	  <br>
          <button class='btn btn-primary btn-sm'
		  data-dismiss='modal'
		  style="margin-right: 10px;"
		  id='cancel-freezethaw'>Cancel</button>
          <button class='btn btn-danger btn-sm'
		  id='confirm-freezethaw'>Confirm</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='delete-paramset-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <center><h4 class="prompt">Confirm to delete parameter set</h4></center>
      </div>
      <div class='modal-body'>
	<center>
          <button class='btn btn-primary btn-sm'
		  data-dismiss='modal'
		  style="margin-right: 10px;"
		  id='cancel-delete-paramset'>Cancel</button>
          <button class='btn btn-danger btn-sm'
		  id='confirm-delete-paramset'>Confirm</button>
	</center>
      </div>
    </div>
  </div>
</div>
<!-- This is the terminate modal -->
<div id='terminate-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <p>Are you sure you want to terminate this experiment? 
          Click on the button below if you are really sure.
	</p>
	<br>
        <button class='btn btn-danger align-center' id='terminate-confirm'
                type='submit' name='terminate'>Terminate</button>
      </div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>
<div id='conversion_help_div'></div>
