.frequency-graph .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.frequency-graph .zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.frequency-graph .tooltip circle {
    fill: black;
}

.frequency-graph .tooltip text {
    font-size: 14px;
}

.frequency-graph .tooltip-rect {
    fill: white;
    stroke: #000;
}

.frequency-graph .tooltip-freq, .frequency-graph .tooltip-power {
    font-weight: bold;
}
.frequency-graph .tooltip-popover
{
    min-width: 200px !important;
}
.frequency-graph .tooltip-popover .table-condensed > thead > tr > th,
.frequency-graph .tooltip-popover .table-condensed > tbody > tr > th,
.frequency-graph .tooltip-popover .table-condensed > tfoot > tr > th,
.frequency-graph .tooltip-popover .table-condensed > thead > tr > td,
.frequency-graph .tooltip-popover .table-condensed > tbody > tr > td,
.frequency-graph .tooltip-popover .table-condensed > tfoot > tr > td {
    padding: 0px;
}
.frequency-graph .tooltip-popover .table-condensed {
    margin-bottom: 0px;
}
